@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif  ;
}
a{
    text-decoration: none ;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

                /* Nav- section */


nav {
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.477); */
    width: 729px;
    display: table;
    /* margin: 0 auto; */
    transform: translateY(-50%);
    margin-top: 40px;
    right: 0px;
    left: 0px;
    margin-right: 500px;
    margin-left: 300px;
    

}
  
nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #0713f6;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}
  
nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}
  
nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}
  
nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}
  
nav a:nth-child(1):before {
    background-color: yellow;
}
  
nav a:nth-child(1):after {
    background-color: red;
}
  
nav a:nth-child(2):before {
    background-color: #00e2ff;
}
  
nav a:nth-child(2):after {
    background-color: #89ff00;
}
  
nav a:nth-child(3):before {
    background-color: rgb(236, 221, 0);
}
  
nav a:nth-child(3):after {
    background-color: rgb(224, 24, 6);
}

nav a:nth-child(4):before {
    background-color: rgb(0, 128, 28);
}
  
nav a:nth-child(4):after {
    background-color: rgb(216, 119, 112);
}
  
#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: rgb(11, 239, 42);
    border-radius: 5px;
    transition: 0.2s ease left;
}
  
nav a:hover {
    color: rgb(125, 121, 121);
}
  
nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}
  
nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}
  
nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}
  
nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(4):hover ~ #indicator {
    left: 90%;
    background: linear-gradient(130deg, purple, palevioletred);
}
/*End Of Nav- section */  


/*header section*/
               
#images{
    background-size: cover;
    background-position: top center;
    position: absolute;
    z-index: -1;
}
#head::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#head .head{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#head h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_box_reveal 2s ease forwards;
}
#head h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    animation: text_box 1.5s ease;
    animation-delay: 1s;

}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: red;
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform:uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
.cta:hover{
    color: white;
    background-color: red;
}
/*end of header section*/

/* Services section*/

#services .services{
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 60px 0;
    background-color: rgb(5, 2, 79);
}
#services .section-title{
    font-size: 4.5rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: red;
}
#services .service-top p{
    font-size: 1.8rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: white;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image:url(./img/course11.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
}
#services .service-item::after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(220, 252, 210);
    opacity: .8;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-item h2{
    font-size: 2.4rem;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.9rem;
    
}
/* End of Services section*/

/* About section*/
.section-title{
    text-transform: uppercase;
    color: red;
    font-size: 40px;
    padding-bottom: 15px;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 2rem;
    font-weight: 1000;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 20px;

}
#about .col-right .cta{
    color: black;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 8px solid red;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid red;
    z-index: -1;
}
#about .col-right .linka{
    font-size: 15px;
}
/*End of About section*/

/* Contact section*/
#contact{
    border-top: 5px solid  rgb(5, 2, 79);
}
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 500px;
}
#contact .contact-item{
    width: 80%;
    /* padding: 20px; */
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px  ;
    background-color: white;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;

}
/*End of Contact section*/

/*Footer section*/
#footer{
    background-color: rgb(5, 2, 79);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}
#footer h1{
    color: blue;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 8px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer p{
    color: white;
    font-size: 1.3rem;

}
/*End of Footer section*/


/* keyframes */
@keyframes text_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_box_reveal{
    100%{
        color: white;

    }
}
/* End of keyframes */

/*    media quary for tablet    */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    #head h1{
        font-size: 7rem;
    }

    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }

    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid red;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }

    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
}

/*    media quary for mobile phone    */
