@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif  ;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


                 /*header section*/
#head{
    background-image: url(.//img/img1.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#head::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#head .head{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#head h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_box_reveal 2s ease forwards;
}
#head h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    animation: text_box 1.5s ease;
    animation-delay: 1s;

}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: red;
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform:uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
.cta:hover{
    color: white;
    background-color: red;
}
               /*end of header section*/

/* Services section*/
#services{}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image:url(./img/course11.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
}
#services .service-item::after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(210, 210, 252);
    opacity: .8;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-item h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
    
}
/* End of Services section*/

/* About section*/
.section-title{
    text-transform: uppercase;
    color: red;
    font-size: 40px;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 20px;

}
#about .col-right .cta{
    color: black;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 8px solid red;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid red;
    z-index: -1;

}
/*End of About section*/

/* Contact section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 500px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px  ;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;

}
/*End of Contact section*/

/*Footer section*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}
#footer h1{
    color: blue;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 8px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer p{
    color: white;
    font-size: 1.3rem;

}
/*End of Footer section*/


/* keyframes */
@keyframes text_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_box_reveal{
    100%{
        color: white;

    }
}
/* End of keyframes */

/*    media quary for tablet    */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    #head h1{
        font-size: 7rem;
    }

    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }

    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid red;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }

    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }


}